@import "./cold-lib.scss";

$blue: #2660a4;
$dark-blue: #032b43;
$white: #edf7f6;
$red: #d00000;
$yellow: #ffba08;

@mixin calistoga($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Calistoga", cursive;
}

@mixin roboto($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $white;
}
.primary-header {
  background-color: $blue;
  padding: 20px;
  h1 {
    @include calistoga($color: $white, $size: 42pt);
  }
}
