@import "./cold-lib.scss";

$blue: #2660a4;
$dark-blue: #032b43;
$white: #edf7f6;
$red: #d00000;
$yellow: #ffba08;
$black: #16161d;

@mixin calistoga($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Calistoga", cursive;
}

@mixin roboto($color: $black, $size: 12pt, $weight: normal) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $white;
}
.primary-header {
  background-color: $blue;
  padding: 20px;
  h1 {
    @include calistoga($color: $white, $size: 42pt);
  }
}
.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: auto;
  @media (min-width: break("medium")) {
    align-items: center;
  }
}
.todo-list {
  @include roboto($color: $black, $size: 16pt);
  box-sizing: border-box;
  margin-top: 20px;
  width: 800px;
  tbody tr {
    td {
      padding: 3px;
      button {
        @include button-normalize();
        @include roboto($color: $dark-blue, $size: 16pt);
      }
    }
    &:nth-child(odd) {
      background-color: darken($white, 12%);
    }
    &:first-child {
      color: $white;
      background-color: $blue;
    }
  }
}
